@import './fonts';

@import './basic/section_param.scss';
@import './sections/variables';
@import './sections/navbar';
@import './basic/respons';
@import  './sections/logo_section';
@import './sections/about_us';

*{
    margin: 0;
    padding: 0;
    outline: none;
}