header.header.section
    .container 
        nav.navbar.navbar-expand-lg
                a.navbar-brand(href='#') 
                    img(src="./images/Logo.png", alt="")
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse.justify-content-end.align-item-center
                    ul.navbar-nav
                        li.nav-item
                        a.nav-link.active(aria-current='page' href='#s1') News
                        li.nav-item
                        a.nav-link(href='#s2') Features
                        li.nav-item
                        a.nav-link(href='#s3') Portfolio
                        li.nav-item
                        a.nav-link(href='#s4') TeamLead
                        li.nav-item
                        a.nav-link(href='#s5') Contact 
                    .btn_contact-form
                        button.btn__contact(type='button') Contact to us
        
        
        .row.header_heading
            .col-lg-6.col-sm-6.col-xs-12.heading_1
                .heading__1_text 
                    h1 Multi <span>Web</span>
                    .links__block 
                        a(href="") Web-Site Development 
                        a(href="") Design Development  
            .col-lg-6.col-sm-6.col-xs-12.images__block 
                img(src="./images/first__images.png", alt="")