section#s2.about__us 
    .container 
        .row 
            .col-lg-6.col-sm-12.col-xs-12
                .caption__block#anim.animate__backInLeft
                    h2 About Us
                .status__bar()
                    .status__bar_item 
                        strong.bar(style="height:60%") 30 
                    .status__bar_item 
                        strong.bar(style="height:50%") 30
                    .status__bar_item
                        strong.bar(style="height:75%")  30
                    .status__bar_item( data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top")
                        strong.bar(style="height:100%" ) 30

            .col-lg-6.col-sm-12.col-xs-12.block_text_about 
                .block_text_about_content
                    h3 Our main goal is <br> customer care
                    p The client and his desire is everything for us
