section.logo_fullscreen 
    .container 
        .row 
            .col-lg-12.content__block 
                h2.logo_txt  MultiWeb 

                a(href="#s2" type="button")
                    img(src="./images/arrow_next.png", alt="") 
